@mixin list-rest {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin nav-link {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: var(--nav-link-color);

  &:hover {
    color: var(--title-color);
    transition: all 0.3s ease;
  }
}

@mixin view {
  padding: 13px 29px;
  @include nav-link;
  border: 1.5px solid #FFFFFF;

  &:hover {
    color: var(--white-color);
    background-color: var(--title-color);
    transition: all 0.3s ease;
  }
}